# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# public static files
backend/public/

# dependencies
frontend/node_modules
backend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/LA-Mobile.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/mongodb_infrastructure___adding_env_file.xml
/.idea/shelf/mongodb_infrastructure_,_adding_env_file/shelved.patch
/.idea/jsLibraryMappings.xml
/node_modules/react-toastify/scss/animations/_bounce.scss
/node_modules/react-toastify/scss/_closeButton.scss
/node_modules/react-toastify/scss/animations/_flip.scss
/node_modules/react-toastify/scss/_icons.scss
/node_modules/react-toastify/scss/_progressBar.scss
/node_modules/react-toastify/scss/animations/_slide.scss
/node_modules/react-toastify/scss/animations/_spin.scss
/node_modules/react-toastify/scss/_theme.scss
/node_modules/react-toastify/scss/_toast.scss
/node_modules/react-toastify/scss/_toastContainer.scss
/node_modules/react-toastify/scss/_variables.scss
/node_modules/react-toastify/scss/animations/_zoom.scss
/node_modules/prettier/bin-prettier.js
/node_modules/prettier/cli.js
/node_modules/react-toastify/dist/components/CloseButton.d.ts
/node_modules/clsx/clsx.d.ts
/node_modules/clsx/dist/clsx.js
/node_modules/clsx/dist/clsx.m.js
/node_modules/clsx/dist/clsx.min.js
/node_modules/react-toastify/dist/utils/collapseToast.d.ts
/node_modules/react-toastify/dist/utils/constant.d.ts
/node_modules/react-toastify/dist/utils/cssTransition.d.ts
/node_modules/prettier/doc.js
/node_modules/react-toastify/dist/core/eventManager.d.ts
/node_modules/react-toastify/dist/components/Icons.d.ts
/node_modules/react-toastify/addons/use-notification-center/index.d.ts
/node_modules/react-toastify/dist/components/index.d.ts
/node_modules/react-toastify/dist/core/index.d.ts
/node_modules/react-toastify/dist/hooks/index.d.ts
/node_modules/react-toastify/dist/types/index.d.ts
/node_modules/react-toastify/dist/utils/index.d.ts
/node_modules/react-toastify/dist/index.d.ts
/node_modules/react-toastify/addons/use-notification-center/index.esm.mjs
/node_modules/react-toastify/addons/use-notification-center/index.esm.mjs.map
/node_modules/prettier/index.js
/node_modules/react-toastify/addons/use-notification-center/index.js
/node_modules/react-toastify/addons/use-notification-center/index.js.map
/node_modules/react-toastify/dist/inject-style.d.ts
/node_modules/react-toastify/dist/inject-style.esm.mjs
/node_modules/react-toastify/dist/inject-style.js
/node_modules/prettier/LICENSE
/node_modules/react-toastify/LICENSE
/node_modules/clsx/license
/node_modules/react-toastify/scss/main.scss
/node_modules/react-toastify/dist/utils/mapper.d.ts
/node_modules/react-toastify/scss/minimal.scss
/node_modules/prettier/package.json
/node_modules/react-toastify/package.json
/node_modules/prettier/parser-angular.js
/node_modules/prettier/esm/parser-angular.mjs
/node_modules/prettier/parser-babel.js
/node_modules/prettier/esm/parser-babel.mjs
/node_modules/prettier/parser-espree.js
/node_modules/prettier/esm/parser-espree.mjs
/node_modules/prettier/parser-flow.js
/node_modules/prettier/esm/parser-flow.mjs
/node_modules/prettier/parser-glimmer.js
/node_modules/prettier/esm/parser-glimmer.mjs
/node_modules/prettier/parser-graphql.js
/node_modules/prettier/esm/parser-graphql.mjs
/node_modules/prettier/parser-html.js
/node_modules/prettier/esm/parser-html.mjs
/node_modules/prettier/parser-markdown.js
/node_modules/prettier/esm/parser-markdown.mjs
/node_modules/prettier/parser-meriyah.js
/node_modules/prettier/esm/parser-meriyah.mjs
/node_modules/prettier/parser-postcss.js
/node_modules/prettier/esm/parser-postcss.mjs
/node_modules/prettier/parser-typescript.js
/node_modules/prettier/esm/parser-typescript.mjs
/node_modules/prettier/parser-yaml.js
/node_modules/prettier/esm/parser-yaml.mjs
/node_modules/.bin/prettier
/node_modules/.bin/prettier.cmd
/node_modules/.bin/prettier.ps1
/node_modules/react-toastify/dist/components/ProgressBar.d.ts
/node_modules/react-toastify/dist/utils/propValidator.d.ts
/node_modules/react-toastify/dist/react-toastify.esm.mjs
/node_modules/react-toastify/dist/react-toastify.esm.mjs.map
/node_modules/react-toastify/dist/react-toastify.js
/node_modules/react-toastify/dist/react-toastify.js.map
/node_modules/react-toastify/dist/react-toastify.umd.js
/node_modules/react-toastify/dist/react-toastify.umd.js.map
/node_modules/react-toastify/dist/ReactToastify.css
/node_modules/react-toastify/dist/ReactToastify.css.map
/node_modules/react-toastify/dist/ReactToastify.min.css
/node_modules/react-toastify/dist/ReactToastify.minimal.css
/node_modules/react-toastify/dist/ReactToastify.minimal.css.map
/node_modules/prettier/README.md
/node_modules/react-toastify/README.md
/node_modules/clsx/readme.md
/node_modules/prettier/standalone.js
/node_modules/prettier/esm/standalone.mjs
/node_modules/prettier/third-party.js
/node_modules/react-toastify/dist/components/Toast.d.ts
/node_modules/react-toastify/dist/core/toast.d.ts
/node_modules/react-toastify/dist/components/ToastContainer.d.ts
/node_modules/react-toastify/dist/components/Transitions.d.ts
/node_modules/react-toastify/addons/use-notification-center/useNotificationCenter.d.ts
/node_modules/react-toastify/dist/hooks/useToast.d.ts
/node_modules/react-toastify/dist/hooks/useToastContainer.d.ts

/node_modules/react-toastify/scss/animations/_bounce.scss
/node_modules/react-toastify/scss/_closeButton.scss
/node_modules/react-toastify/scss/animations/_flip.scss
/node_modules/react-toastify/scss/_icons.scss
/node_modules/react-toastify/scss/_progressBar.scss
/node_modules/react-toastify/scss/animations/_slide.scss
/node_modules/react-toastify/scss/animations/_spin.scss
/node_modules/react-toastify/scss/_theme.scss
/node_modules/react-toastify/scss/_toast.scss
/node_modules/react-toastify/scss/_toastContainer.scss
/node_modules/react-toastify/scss/_variables.scss
/node_modules/react-toastify/scss/animations/_zoom.scss
/node_modules/prettier/bin-prettier.js
/node_modules/prettier/cli.js
/node_modules/react-toastify/dist/components/CloseButton.d.ts
/node_modules/clsx/clsx.d.ts
/node_modules/clsx/dist/clsx.js
/node_modules/clsx/dist/clsx.m.js
/node_modules/clsx/dist/clsx.min.js
/node_modules/react-toastify/dist/utils/collapseToast.d.ts
/node_modules/react-toastify/dist/utils/constant.d.ts
/node_modules/react-toastify/dist/utils/cssTransition.d.ts
/node_modules/prettier/doc.js
/node_modules/react-toastify/dist/core/eventManager.d.ts
/node_modules/react-toastify/dist/components/Icons.d.ts
/node_modules/react-toastify/addons/use-notification-center/index.d.ts
/node_modules/react-toastify/dist/components/index.d.ts
/node_modules/react-toastify/dist/core/index.d.ts
/node_modules/react-toastify/dist/hooks/index.d.ts
/node_modules/react-toastify/dist/types/index.d.ts
/node_modules/react-toastify/dist/utils/index.d.ts
/node_modules/react-toastify/dist/index.d.ts
/node_modules/react-toastify/addons/use-notification-center/index.esm.mjs
/node_modules/react-toastify/addons/use-notification-center/index.esm.mjs.map
/node_modules/prettier/index.js
/node_modules/react-toastify/addons/use-notification-center/index.js
/node_modules/react-toastify/addons/use-notification-center/index.js.map
/node_modules/react-toastify/dist/inject-style.d.ts
/node_modules/react-toastify/dist/inject-style.esm.mjs
/node_modules/react-toastify/dist/inject-style.js
/node_modules/prettier/LICENSE
/node_modules/react-toastify/LICENSE
/node_modules/clsx/license
/node_modules/react-toastify/scss/main.scss
/node_modules/react-toastify/dist/utils/mapper.d.ts
/node_modules/react-toastify/scss/minimal.scss
/node_modules/prettier/package.json
/node_modules/react-toastify/package.json
/node_modules/prettier/parser-angular.js
/node_modules/prettier/esm/parser-angular.mjs
/node_modules/prettier/parser-babel.js
/node_modules/prettier/esm/parser-babel.mjs
/node_modules/prettier/parser-espree.js
/node_modules/prettier/esm/parser-espree.mjs
/node_modules/prettier/parser-flow.js
/node_modules/prettier/esm/parser-flow.mjs
/node_modules/prettier/parser-glimmer.js
/node_modules/prettier/esm/parser-glimmer.mjs
/node_modules/prettier/parser-graphql.js
/node_modules/prettier/esm/parser-graphql.mjs
/node_modules/prettier/parser-html.js
/node_modules/prettier/esm/parser-html.mjs
/node_modules/prettier/parser-markdown.js
/node_modules/prettier/esm/parser-markdown.mjs
/node_modules/prettier/parser-meriyah.js
/node_modules/prettier/esm/parser-meriyah.mjs
/node_modules/prettier/parser-postcss.js
/node_modules/prettier/esm/parser-postcss.mjs
/node_modules/prettier/parser-typescript.js
/node_modules/prettier/esm/parser-typescript.mjs
/node_modules/prettier/parser-yaml.js
/node_modules/prettier/esm/parser-yaml.mjs
/node_modules/.bin/prettier
/node_modules/.bin/prettier.cmd
/node_modules/.bin/prettier.ps1
/node_modules/react-toastify/dist/components/ProgressBar.d.ts
/node_modules/react-toastify/dist/utils/propValidator.d.ts
/node_modules/react-toastify/dist/react-toastify.esm.mjs
/node_modules/react-toastify/dist/react-toastify.esm.mjs.map
/node_modules/react-toastify/dist/react-toastify.js
/node_modules/react-toastify/dist/react-toastify.js.map
/node_modules/react-toastify/dist/react-toastify.umd.js
/node_modules/react-toastify/dist/react-toastify.umd.js.map
/node_modules/react-toastify/dist/ReactToastify.css
/node_modules/react-toastify/dist/ReactToastify.css.map
/node_modules/react-toastify/dist/ReactToastify.min.css
/node_modules/react-toastify/dist/ReactToastify.minimal.css
/node_modules/react-toastify/dist/ReactToastify.minimal.css.map
/node_modules/prettier/README.md
/node_modules/react-toastify/README.md
/node_modules/clsx/readme.md
/node_modules/prettier/standalone.js
/node_modules/prettier/esm/standalone.mjs
/node_modules/prettier/third-party.js
/node_modules/react-toastify/dist/components/Toast.d.ts
/node_modules/react-toastify/dist/core/toast.d.ts
/node_modules/react-toastify/dist/components/ToastContainer.d.ts
/node_modules/react-toastify/dist/components/Transitions.d.ts
/node_modules/react-toastify/addons/use-notification-center/useNotificationCenter.d.ts
/node_modules/react-toastify/dist/hooks/useToast.d.ts
/node_modules/react-toastify/dist/hooks/useToastContainer.d.ts
