.site-container{
  min-height:100vh;
}
main{
  flex:1
}
.products{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.product{
  border: 1px #404040 solid;
  margin:1rem
}
.rating span{
  color:#ffc000;
}
.product img{
  height:150px;
  width:150px;
}

.product-info{
  padding:1rem;
}

